<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus natus, rerum debitis obcaecati quis
            veritatis. Pariatur accusantium error nesciunt, quasi temporibus eaque, voluptate necessitatibus architecto
            qui officia possimus dignissimos.</p>
    </div>
</section>