<div class="jumbotron mt-4">
    <h1 class="display-4">Notes APP Node js Mongfb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius odio in ipsam vitae placeat harum
        deserunt nesciunt obcaecati, doloribus magnam nemo saepe eum incidunt repellat nostrum. Dolore rem error odit ab
        unde aspernatur, dolor maiores, recusandae tenetur omnis nesciunt fugit! Sapiente, quos libero?</p>
    <hr class="my-4">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, culpa eius sit nihil blanditiis quia veritatis
        optio suscipit doloribus delectus provident quisquam eligendi. Aliquam pariatur quam quaerat exercitationem sint
        laudantium laborum fugiat perferendis nisi obcaecati quia magnam quis ex, quas veritatis? Atque consequuntur
        dicta dolor eligendi temporibus accusantium reprehenderit itaque.</p>
</div>